@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
*{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container{
    padding: 7%;
}
 
li{
    display: block;
    font-size: 1.2em;
     float: right;
    color: hsl(236, 13%, 42%);
    margin-left: 50px;
}
li:hover{
    color:hsl(35, 77%, 62%);
    cursor: pointer;
}
.navbar{
    margin-bottom: 50px;
 }

.main-container{
    display:grid;
        }
.main-box-1{
    grid-column-start: 1;
    grid-column-end: 4;
}

.main-image{
    grid-column-start: 1;
    grid-column-end: 4;
    width: 70%;

}
.main-text{
    font-size: 4em;
}
.main-param{
    font-size: 1.5em;
    color: hsl(236,13%,42%);
}

.main-button{
    color: white;
    background-color: black;
    border:none;
width: 200px;
letter-spacing: 5px;
text-transform: uppercase;
height: 50px;
}

.main-box-1{
    grid-row-start:1;
}
.main-box2{
    grid-row-start: 2;   
      margin-right: 100px;
  
      

}
.main-box-3{
 grid-row-start: 2;
 
 }
.sidebar{
    color: white;
     grid-column-start: 3;
    grid-row-start:1;
    margin-left: 300px;
    background-color: hsl(240, 100%, 5%);
 
    padding: 30px;
}
.New{
    color: hsl(35, 77%, 62%);
    font-size: 25px}
.sidebar h2{
    font-size: 25px;
}
.footer{
    display:grid;
    margin-top: 50px;
     grid-template-columns: repeat(6,1fr);
}
.box h1{
    color: gray;
    font-size: 2.5em;
}